/* ==========================================================================
   Custom skin
   ========================================================================== */

/* Colors */
$footer-background-color: #000000 !default;

.page__footer {
  color: #BBBBBB !important;

  .social-icons {
    .fas,
    .fab,
    .far,
    .fal {
        color: #BBBBBB !important;
    }
  }

  footer {
    margin-top: 1em !important;
    padding: 0 1em 1em !important;
    }
}